Repository vitejs/vite, pull requests merged in 2024-06, with the labels that each got.

#17364 fix(css): handle url replacing when preprocessing with lightningcss
  packages/vite/src/node/__tests__/plugins/css.spec.ts
  packages/vite/src/node/plugins/css.ts
Labels: feat: css, p3-minor-bug

#17371 fix(ssr): remove pure CSS dynamic import
  packages/vite/src/node/plugins/importAnalysisBuild.ts
Labels: feat: css, p3-minor-bug, feat: ssr, regression

#15395 fix(ssr): resolve interlocking circular dependency issues
  packages/vite/src/node/server/index.ts
  packages/vite/src/node/ssr/ssrModuleLoader.ts
  playground/ssr/__tests__/ssr.spec.ts
  playground/ssr/src/app.js
  playground/ssr/src/forked-deadlock/dynamic-imports/common-module.js
  playground/ssr/src/forked-deadlock/dynamic-imports/deadlock-fuse-module.js
  playground/ssr/src/forked-deadlock/dynamic-imports/fuse-stuck-bridge-module.js
  playground/ssr/src/forked-deadlock/dynamic-imports/middle-module.js
  playground/ssr/src/forked-deadlock/dynamic-imports/stuck-module.js
Labels: feat: ssr, p3-significant

#14221 fix(build): allow dynamic import treeshaking when injecting preload
  packages/vite/src/node/plugins/importAnalysisBuild.ts
  playground/dynamic-import/__tests__/dynamic-import.spec.ts
  playground/dynamic-import/nested/index.js
  playground/dynamic-import/nested/treeshaken/treeshaken.js
Labels: p3-significant

#16588 fix(css): ensure order of extracted CSS
  packages/vite/src/node/plugins/css.ts
Labels: feat: css, p3-minor-bug

#17299 build: use esbuild to speedup building vite package
  package.json
  packages/vite/package.json
  packages/vite/rollup.config.ts
  packages/vite/scripts/dev.ts
  packages/vite/src/client/tsconfig.json
  packages/vite/src/node/tsconfig.json
  packages/vite/tsconfig.check.json
  packages/vite/tsconfig.json
  playground/legacy/package.json
  pnpm-lock.yaml
Labels: p1-chore

#15913 feat(create-vite): use "solution" tsconfig so that vite.config.ts is type checked
  packages/create-vite/template-preact-ts/package.json
  packages/create-vite/template-preact-ts/tsconfig.app.json
  packages/create-vite/template-preact-ts/tsconfig.json
  packages/create-vite/template-preact-ts/tsconfig.node.json
  packages/create-vite/template-qwik-ts/package.json
  packages/create-vite/template-qwik-ts/tsconfig.app.json
  packages/create-vite/template-qwik-ts/tsconfig.json
  packages/create-vite/template-qwik-ts/tsconfig.node.json
  packages/create-vite/template-react-ts/package.json
  packages/create-vite/template-react-ts/tsconfig.app.json
  packages/create-vite/template-react-ts/tsconfig.json
  packages/create-vite/template-react-ts/tsconfig.node.json
  packages/create-vite/template-solid-ts/package.json
  packages/create-vite/template-solid-ts/tsconfig.app.json
  packages/create-vite/template-solid-ts/tsconfig.json
  packages/create-vite/template-solid-ts/tsconfig.node.json
  packages/create-vite/template-svelte-ts/package.json
  packages/create-vite/template-svelte-ts/tsconfig.node.json
  packages/create-vite/template-vue-ts/package.json
  packages/create-vite/template-vue-ts/tsconfig.app.json
  packages/create-vite/template-vue-ts/tsconfig.json
  packages/create-vite/template-vue-ts/tsconfig.node.json
Labels: p2-to-be-discussed, feat: create-vite

#17472 fix(build): handle preload treeshaking for commas
  packages/vite/src/node/plugins/importAnalysisBuild.ts
  playground/dynamic-import/__tests__/dynamic-import.spec.ts
  playground/dynamic-import/nested/index.js
  playground/dynamic-import/nested/treeshaken/syntax.js
  playground/dynamic-import/nested/treeshaken/treeshaken.js
Labels: p4-important

#17479 fix(build): handle preload treeshaking for braces
  packages/vite/src/node/plugins/importAnalysisBuild.ts
  playground/dynamic-import/nested/index.js
Labels: p4-important

#16390 feat(create-vite): add help usage
  packages/create-vite/__tests__/cli.spec.ts
  packages/create-vite/src/index.ts
Labels: p2-nice-to-have, feat: create-vite
