Repository vitejs/vite, pull requests merged in 2025-09, with the labels that each got.

#20710 chore: remove unused constants entry from rolldown.config.ts
  packages/vite/rolldown.config.ts
Labels: p1-chore

#20734 refactor(create-vite): migrate `tseslint.config` to ESLint core's `defineConfig`
  packages/create-vite/template-react-ts/README.md
  packages/create-vite/template-react-ts/eslint.config.js
Labels: p2-nice-to-have, feat: create-vite

#20761 fix(esbuild): inject esbuild helper functions with minified `$` variables correctly
  packages/vite/src/node/__tests__/plugins/esbuild.spec.ts
  packages/vite/src/node/plugins/esbuild.ts
Labels: p2-edge-case

#20791 fix(client): use CSP nonce when rendering error overlay
  packages/vite/src/client/client.ts
  packages/vite/src/client/overlay.ts
Labels: p2-edge-case, trigger: preview

#20793 ci: pin yyx990803/release-tag
  .github/workflows/release-tag.yml
Labels: p1-chore

#20794 ci: avoid interpolation
  .github/workflows/ecosystem-ci-trigger.yml
  .github/workflows/publish.yml
Labels: p1-chore

#20786 ci: disallow installation scripts before publish
  .github/workflows/preview-release.yml
  .github/workflows/publish.yml
  pnpm-workspace.yaml
Labels: p1-chore, trigger: preview

#20806 fix(create-vite): support deno create command
  packages/create-vite/src/index.ts
Labels: p3-minor-bug, feat: create-vite

#20768 fix(hmr): trigger prune event when import is removed from non hmr module
  packages/vite/src/node/plugins/importAnalysis.ts
  playground/hmr/__tests__/hmr.spec.ts
  playground/hmr/hmr.ts
  playground/hmr/index.html
  playground/hmr/prune/dep1.js
  playground/hmr/prune/dep2-other.js
  playground/hmr/prune/dep2.js
  playground/hmr/prune/index.js
Labels: feat: hmr, trigger: preview

#20797 feat(create-vite): add `--interactive` / `--no-interactive`
  packages/create-vite/__tests__/cli.spec.ts
  packages/create-vite/src/index.ts
Labels: breaking change, feat: create-vite

#20132 feat(create-vite): set types compiler option in tsconfigs
  docs/guide/api-hmr.md
  docs/guide/env-and-mode.md
  docs/guide/features.md
  packages/create-vite/template-lit-ts/src/vite-env.d.ts
  packages/create-vite/template-lit-ts/tsconfig.json
  packages/create-vite/template-preact-ts/src/vite-env.d.ts
  packages/create-vite/template-preact-ts/tsconfig.app.json
  packages/create-vite/template-preact-ts/tsconfig.node.json
  packages/create-vite/template-qwik-ts/src/vite-env.d.ts
  packages/create-vite/template-qwik-ts/tsconfig.app.json
  packages/create-vite/template-qwik-ts/tsconfig.node.json
  packages/create-vite/template-qwik/src/vite-env.d.ts
  packages/create-vite/template-react-ts/src/vite-env.d.ts
  packages/create-vite/template-react-ts/tsconfig.app.json
  packages/create-vite/template-react-ts/tsconfig.node.json
  packages/create-vite/template-solid-ts/src/vite-env.d.ts
  packages/create-vite/template-solid-ts/tsconfig.app.json
  packages/create-vite/template-solid-ts/tsconfig.node.json
  packages/create-vite/template-svelte-ts/src/vite-env.d.ts
  packages/create-vite/template-svelte-ts/tsconfig.app.json
  packages/create-vite/template-svelte-ts/tsconfig.node.json
  packages/create-vite/template-svelte/README.md
  packages/create-vite/template-svelte/jsconfig.json
  packages/create-vite/template-svelte/src/vite-env.d.ts
  packages/create-vite/template-vanilla-ts/src/vite-env.d.ts
  packages/create-vite/template-vanilla-ts/tsconfig.json
  packages/create-vite/template-vue-ts/src/vite-env.d.ts
  packages/create-vite/template-vue-ts/tsconfig.app.json
  packages/create-vite/template-vue-ts/tsconfig.node.json
Labels: documentation, feat: create-vite

#20747 docs(create-vite): provide deno example
  packages/create-vite/README.md
  packages/vite/README.md
Labels: documentation, feat: create-vite
